@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Switzer", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
